/* Index */
/* Webfont: Luciole-Regular */
@font-face {
  font-family: "Luciole";
  src: url("/assets/fonts/Luciole-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Luciole-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Luciole-Regular.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/Luciole-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Luciole-Regular.svg#Luciole-Regular") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Luciole-Regular */
@font-face {
  font-family: "Luciole Bold";
  src: url("/assets/fonts/Luciole-Bold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Luciole-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Luciole-Bold.woff") format("woff"),
    /* Modern Browsers */ url("/assets/fonts/Luciole-Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Luciole-Bold.svg#Luciole-Bold") format("svg"); /* Legacy iOS */
  font-style: bold;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Anton", sans-serif;
}

.top-nav {
  background-color: #caba9c;
}

/* Section 1 */
.home-section1 {
  background-color: #caba9c;
}
.home-section1 .txt-detail {
  color: #174032;
  font-family: "Luciole";
  font-size: 20px;
}
.home-section1 .card {
  background-color: #3c5f3a;
  color: #fff;
  border-radius: 20px;
}
.home-section1 .card-title {
  font-family: "Luciole";
  font-size: 25px;
}
.home-section1 .card-text {
  font-size: 45px;
}
.home-section1 h6 a {
  color: #174032;
  font-family: "Luciole Bold";
  font-size: 20px;
}

/* Section 3 */
.home-section3 {
  background-color: #3c5f3a;
}
.home-section3 h1 {
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

/* Section 4 */
.home-section4 {
  background-color: #fff;
}
.home-section4 h1 {
  font-weight: 400;
  font-style: normal;
  color: #174032;
  text-transform: uppercase;
}
.home-section4 .mycard {
  height: 200px;
  width: 200px;
}

/* Section 5 */
.home-section5 {
  background-color: #caba9c;
}
.home-section5 h1 {
  font-weight: 400;
  font-style: normal;
  color: #174032;
  text-transform: uppercase;
}
.home-section5 .seeall a {
  color: #174032;
}
.home-section5 .card {
  border-radius: 10px;
  font-family: "Luciole";
}
.home-section5 .card-title {
  font-size: 18px;
}
.home-section5 .card-text {
  font-size: 14px;
}

/* Section 6 */
.home-section6 h1 {
  font-weight: 400;
  font-style: normal;
  color: #174032;
  text-transform: uppercase;
}
.home-section6 .my-btn-group,
.mybtn {
  font-size: 40px;
  font-weight: 400;
  color: #174032;
  text-transform: uppercase;
  background-color: #caba9c;
  border-radius: 20px;
}
.home-section6 .my-btn-group .mybtn {
  padding-left: 60px;
}

/* Section 7 */
.home-section7 {
  background-color: #caba9c;
}
.home-section7 h1 {
  font-weight: 400;
  font-style: normal;
  color: #174032;
  text-transform: uppercase;
}
.home-section7 p {
  font-family: "Luciole";
  font-size: 20px;
  color: #174032;
}

/* Section 6 */
.home-section8 {
  background-color: #174032;
  color: #fff;
}
.home-section8 .btn-submit {
  background-color: #8a6240;
  color: #fff;
  font-size: 17.5px;
  padding: 10px 40px;
}

/* Section 9 */
.home-section9 {
  background-color: #fff;
}
.home-section9 a{
  color: #174032;
  text-decoration: none;
}
.home-section9 h1 {
  font-weight: 400;
  font-style: normal;
  color: #174032;
  text-transform: uppercase;
}
.home-section9 .txt-address {
  font-family: "Luciole";
  color: #174032;
  font-size: 20px;
}
.home-section9 .txt-detail {
  font-family: "Luciole";
  /* font-weight: 400; */
  font-style: bold;
  color: #174032;
}
.home-section9 .txt-topic {
  font-family: "Luciole Bold";
  /* font-weight: 400; */
  font-style: bold;
  color: #174032;
}
.home-section9 .txt-partners {
  font-family: "Luciole";
  font-size: 20px;
}

/* cases */
.cases-detail {
  font-family: "Luciole";
  font-size: 16px;
}

/* ---- grid ---- */

.masonry-grid {
  /* background: #DDD; */
}

/* clear fix */
.masonry-grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-my-item {
  width: 25%;
}

.grid-my-item {
  float: left;
}

.grid-my-item img {
  display: block;
  width: 100%;
  border-radius: 25px;
}
.grid-my-item-box {
  margin: 5px;
  position: relative;
  transition: transform 0.2s;
}
.grid-my-item-box:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  z-index: 1000;
}
.grid-my-item-box-desc {
  position: absolute;
  text-align: center;
  width: 95%;
  padding: 5px;
  left: 5px;
  top: 30%;
  background-color: #ccc;
  opacity: 0.9;
  border-radius: 10px;
  font-family: "Luciole";
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* .grid-my-item-box-desc span{
  opacity:1 !important;
  color:#fff;
} */

.grid-my-item-box-desc-2 {
  position: absolute;
  text-align: center;
  width: 95%;
  padding: 5px;
  left: 5px;
  top: 30%;
  /* background-color: #ccc;
  opacity:0.6; */
  border-radius: 10px;
  font-family: "Luciole";
  color: #fff;
}

.grid-item--height2 {
  height: 200px;
}
.grid-item--height3 {
  height: 260px;
}
.grid-item--height4 {
  height: 360px;
}
